
html,
body,
header,
#intro {
    height: 60%;
}

#intro {
    background: url("../img/svg/background.svg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}