{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-4 col-sm-12">
        <div class="card">
            <div class="card-body">
                <p class="h4 text-center mb-4">Change profile</p>
                <br>
                <form method="post" class="text-center">
                    {% csrf_token %}

                    <div class="fieldWrapper">
                        {{ form.nickname.errors }}
                        <label class="grey-text h5" for="{{ form.nickname.id_for_label }}">{{ form.nickname.label_tag }}</label>
                        <div class="container bm-2">
                            {{ form.nickname }}
                        </div>
                    </div>
                    <div class="fieldWrapper">
                        {{ form.about.errors }}
                        <label class="grey-text h5" for="{{ form.about.id_for_label }}">{{ form.about.label_tag }}</label>
                        <div class="container bm-2">
                            {{ form.about }}
                        </div>
                    </div>
                    <hr>
                    <div class="row justify-content-sm-center mt-2">
                        <div class="col-sm-5">
                            <a class="btn btn-unique" onClick="javascript:history.go(-1);">Back</a>
                        </div>
                        <div class="col-sm-5">
                            <button type="submit" class="btn btn-unique">Commit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block errors %}
    {% include 'tc_web/error.html' with errors=errors %}
{% endblock %}
