{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h1 class="card-title text-center">Time Candle</h1>
        <hr>
        <div class="container">
            <h5 class="card-text">This is a very simple task-tracker application that can help you to manage your time. User friendly interface provides you to create tasks and projects and use them very fast with your friends! Many people are already tested this app, you may be the next!</h5>
        </div>
        <hr>
        <h2 class="card-title text-center">Versions</h2>
        <div class="container">
            <div class="text-center">
                <img src="{% static 'img/mobile_and_desktop.png' %}" class="img-fluid z-depth-2" alt="placeholder.">
            </div>
            <hr>
            <h5 class="card-text">In current state we have a web application that you are using right now, and a console application, that you may find in the lowest link below. Also here you may find API for Time Candle and use it for free in any cases.</h5>
        </div>
    </div>
</div>
{% endblock %}