{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<canvas id="oilcanvas" style="margin-top: -250px" width="1800" height="500">
</canvas>
<div class="hero-unit">
<h1>Q-Ban!</h1>
<hr>
<p>This is a very simple task-tracker application that can help you to manage your time. User friendly interface provides you to create tasks and projects and use them very fast with your friends! Many people are already tested this app, you may be the next!</p>
<h3>Versions</h3>
<p>In current state we have a web application that you are using right now, and a console application, that you may find in the lowest link below. Also here you may find API for Q-Ban and use it for free in any cases.</p>
</div>

<!-- Example row of columns -->
<div class="row">
<div class="span4">
  <h2>Quering</h2>
  <p>Also Q-Ban has querying algorithms that provides a tool for advanced task search. Use the following filters for it.</p>
<ul class="list-group">
    <li class="list-group-item">tids: tasks with specified tids</li>
    <li class="list-group-item">receivers: tasks with specified receivers pay ids</li>
    <li class="list-group-item">titles: Strings for tasks titles</li>
    <li class="list-group-item">parents: tasks with specified parents</li>
    <li class="list-group-item">deadline_time: tasks with deadline in range
    (operators supported:
    >, >=, ==, <=, <, !=
    )
    </li>
    <li class="list-group-item">creation_time: - same as deadline_time</li>
    <p class="card-title text-center h4 mt-2">Special filters:</p>
    <li class="list-group-item">parents: None - prints only personal tasks</li>
    <p class="card-title text-center h4 mt-2">Supported operators:</p>
    <li class="list-group-item">AND, OR, (, )</li>
    <p class="card-title text-center h4 mt-2">Time filters:</p>
    <li class="list-group-item">range filter: (example) '2010-10-10 20:20:20' .. '2012-10-10 20:20:20'</li>
    <li class="list-group-item">compare filter: (example) > '2010-10-10 20:20:20'</li>
    <p class="card-title text-center h4 mt-2">Examples:</p>
    <li class="list-group-item">deadline_time: '2010-10-10 20:20:20' .. '2012-10-10 20:20:20'</li>
    <li class="list-group-item">creation_time: > '2010-10-10 20:20:20'</li>
    <li class="list-group-item">(parents: 1 5 3 OR tids: 4 6 7) AND titles: new work candy</li>
    <li class="list-group-item">titles: "New work"</li>
</ul>
</div>
<div class="span4">
  <h2>Tasks</h2>
<p class="card-text">
    In the hat you may see it's title, and red button with the cross. If you have rights to modify it, you may delete it by pressing this button. In other case it will be grey, showing, that you cannot delete it.
</p>
<hr>
<p class="card-text">
    In the main body you may see at least two badges, that shows you it's status and priority. Also you may see group button that will show you child tasks and badge with parent mark (by clicking on it you will see the parent task). Also you may do task by clicking on the check button (if you have rights). Also depends on project/child task you may see it's project or links on users.
</p>
<hr>
<p class="card-text">
    In the bottom of the card you may see tasks deadline and show link, where you may find task's full info. Also if you have rights you may edit task or add a child sub task to it.
</p>
<hr>
<p class="card-text">
    Task can be added by clicking the red plus button at the bottom of the page.
</p>
</div>
<div class="span4">
  <h2>Projects</h2>
    <p class="card-text">
    Here almost everything is similar to the tasks. More info about project you may find by check tasks button. Project can be added by clicking big red plus button. Also on the project page you may add task to the project or user, clicking matching buttons.
</p>
</div>
</div>
</div>
{% endblock %}

{% block shaders %}
<script id="jetbrains-fragment" type="x-shader/x-fragment">
					uniform float time;
					uniform float ratioXtoY;
					uniform vec3 colorBegin;
					uniform vec3 colorEnd;
					uniform float alpha;
					uniform float kConst;
					varying vec2 vUv;

					struct Sphere
					{
						vec2 position;
						float radius;
					};

					#define SPHERES_COUNT 5
					uniform Sphere spheres[SPHERES_COUNT];

					vec3 alpha_blend(vec3 start, vec3 end, float a)
					{
						return a * end + (1.0 - a) * start;
					}

					float sdf_smin(float a, float b)
					{
						float k = kConst * 100.0;
						float res = exp(-k*a) + exp(-k*b);
						return -log(max(0.0001,res)) / k;
					}

					float sdf_sphere(vec2 p, Sphere s)
					{
						return distance(p, s.position) - s.radius;
					}

					vec4 layer(vec2 uv)
					{
						float mins[SPHERES_COUNT];
						Sphere s;
						for (int i = 0; i < SPHERES_COUNT; ++i)
						{
							s = spheres[i];
							mins[i] = sdf_sphere(uv, s);
						}

						float trueMin = mins[0];
						for (int i = 0; i < SPHERES_COUNT - 1; ++i)
						{
							trueMin = sdf_smin(trueMin, mins[i + 1]);
						}

						if (0.0 >= trueMin)
						{
							return vec4(alpha_blend(colorBegin, colorEnd, uv.y), alpha);
						}
						else
						{
							return vec4(0.0, 0.0, 0.0, 0.0);
						}
					}

					void main()
					{
						vec3 col;
						gl_FragColor = layer(vec2(vUv.x * ratioXtoY, vUv.y));
					}
				</script>
				<script id="jetbrains-vertex" type="x-shader/x-vertex">
					uniform float time;
					varying vec2 vUv;

					void main()
					{
						vec4 mvPosition = modelViewMatrix * vec4(position, 1.);
						gl_Position = projectionMatrix * mvPosition;
						vUv = uv;
					}
				</script>
{% endblock %}

{% block scripts %}
		<script src="{% static 'js/vendor/three.min.js' %}"></script>
		<script src="{% static 'js/vendor/Sky.js' %}"></script>
		<script src="{% static 'js/vendor/TweenMax.min.js' %}"></script>
		<script src="{% static 'js/test.js' %}"></script>
{% endblock %}