<div class="col-sm-12">
        <!--Card-->
    <div class="card mt-2">
        <!--Card content-->
        <div class="card-body">
            <!--Title-->
                    <form id="del" method="post">
                        <p>{{ message.content| truncatechars:200 }}</p>
                        {% csrf_token %}
                        <button value={{ message.mid }} type="submit" name='delete'
                            class="btn btn-red btn-sm pull-right"><i
                            class="fa fa-times"></i></button>
                    </form>
        </div>
    <hr>
    </div>
</div>