{% extends 'base.html' %}

{% block content %}
<!-- Card -->
        <!-- Material form register -->
        <div class="row">
        <div class="span4"></div>
        <div class="span4">
        <h3>Profile</h3>

        <p><i class="fa fa-user prefix grey-text"> User id: </i> {{ screen_user.id }}</p>
        <p><i class="fa fa-hand-peace-o prefix grey-text"> Login: </i> {{ screen_user.login }}</p>
        <p><i class="fa fa-group prefix grey-text"> Nickname: </i> {{ screen_user.nickname }}</p>
        <p><i class="fa fa-envelope prefix grey-text"> Email: </i> {{ screen_user.email }}</p>
        <p><i class="fa fa-comment prefix grey-text"> About: </i> {{ screen_user.about }}</p>

        <hr>

        {% if user.id == screen_user.id %}
            <a class="btn btn-primary btn-large" onClick="javascript:history.go(-1);">Back</a>
<a href="{% url 'tc_web:change_profile' user.id %}" class="btn btn-primary btn-large">Change</a>

        {% else %}
                <a class="btn btn-primary btn-large" onClick="javascript:history.go(-1);">Back</a>
        {% endif %}
</div>
        <!-- Material form register -->
<hr>
    </div>

<div class="row">
    {% for message in messages %}
        {% include 'tc_web/message_card.html' with message=message %}
    {% endfor %}
</div>
<!-- Card -->
{% endblock %}