{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-4 col-sm-10">
        <div class="card">
            <div class="card-body">
                <p class="h4 text-center mb-4">Add task</p>
                <br>
                <form method="post" class="text-center">
                    {% if project and project.admin_uid == user.id %}
                    <div class="md-form" style="z-index: 10000">
                        <input id="search_receiver" name="search_receiver" style="z-index: 10000" type="text"

                               placeholder="Receiver (You)" aria-label="Search">
                    </div>
                    {% endif %}
                    {% csrf_token %}
                    <div class="fieldWrapper">
                        {{ form.title.errors }}
                        <label class="grey-text h5" for="{{ form.title.id_for_label }}">{{ form.title.label_tag }}</label>
                        <div class="container bm-2">
                            {{ form.title }}
                        </div>
                    </div>

                    <div class="fieldWrapper">
                        {{ form.comment.errors }}
                        <label class="grey-text h5" for="{{ form.comment.id_for_label }}">{{ form.comment.label_tag }}</label>
                        <div class="container bm-2">
                            {{ form.comment }}
                        </div>
                    </div>

                    <div class="fieldWrapper">
                        {{ form.deadline_time.errors }}
                        <label class="grey-text h5" for="{{ form.deadline_time.id_for_label }}">{{ form.deadline_time.label_tag }}</label>
                        <div class="container bm-2">
                            {{ form.deadline_time }}
                        </div>
                    </div>

                    <div class="fieldWrapper">
                        {{ form.priority.errors }}
                        <label class="grey-text h5" for="{{ form.priority.id_for_label }}">{{ form.priority.label_tag }}</label>
                        <div class="container bm-2">
                            {% for value, text in form.priority.field.choices %}
                            {% if text == 'medium' %}
                                <input type="radio" name="priority" id="priority_{{ forloop.counter }}" checked="checked" value="{{ value }}"></input>
                            {% else %}
                                <input type="radio" name="priority" id="priority_{{ forloop.counter }}" value="{{ value }}"></input>
                            {% endif %}
                            <label for="priority_{{ forloop.counter }}">{{ text }}</label>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="fieldWrapper">
                        {{ form.status.errors }}
                        <label class="grey-text h5" for="{{ form.status.id_for_label }}">{{ form.status.label_tag }}</label>
                        <div class="container bm-2">
                            {% for value, text in form.status.field.choices %}
                            {% if text == 'in_progress' %}
                                <input type="radio" name="status" id="status_{{ forloop.counter }}" checked="checked" value="{{ value }}"></input>
                            {% else %}
                                <input type="radio" name="status" id="status_{{ forloop.counter }}" value="{{ value }}"></input>
                            {% endif %}
                            <label for="status_{{ forloop.counter }}">{{ text }}</label>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="fieldWrapper">
                        {{ form.period.errors }}
                        <label class="grey-text h5" for="{{ form.period.id_for_label }}">{{ form.period.label_tag }}</label>
                        <div class="container bm-2">
                            {{ form.period }}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-unique">Add
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block errors %}
    {% include 'tc_web/error.html' with errors=errors %}
{% endblock %}

{% block scripts %}
<script>
    $(function() {
  $("#search_receiver").autocomplete({
    source: "/tc_web/api/get_project_users/{{ project.pid }}/",
    minLength: 2,
  });
});

</script>
{% endblock %}
