{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-lg-4 col-md-8 col-sm-12">
        <div class="card">
            <div class="card-body">
                <p class="h4 text-center mb-4">Change task: {{ task.title }}<span class="grey-text">@{{ task.tid }}</span></p>
                <p class="h4 text-center mb-4">Created: {{ task.creation_time|date:"d M Y, H:i" }}</p>
                {% if task.pid %}
                    <p class="h4 text-center mb-4">Project: <a href="{% url 'tc_web:project' task.pid %}" class="btn btn-sm btn-unique">{{ task.project_name|truncatechars:20 }}</a></p>
                {% endif %}
                {% if task.parent %}
                    <p class="h4 text-center mb-4">Parent task: {{ task.parent_task.title }}<a href="{% url 'tc_web:change_task' task.parent %}" class="grey-text">@{{ task.parent_task.tid }}</a></p>
                {% endif %}
                {% if task.pid %}
                <p class="h4 text-center mb-4">Creator: <a href="{% url 'tc_web:profile' user_id=task.creator_uid %}" class="btn btn-sm btn-unique">{{ task.creator_name|truncatechars:20 }}</a></p>
                <p class="h4 text-center mb-4">Executor: <a href="{% url 'tc_web:profile' user_id=task.uid %}" class="btn btn-sm btn-unique">{{ task.receiver_name|truncatechars:20 }}</a></p>
                {% endif %}
                {% if task.period %}
                    <p class="h4 text-center mb-4">Period: {{ task.period }} days</p>
                {% endif %}
                {% if task.realization_time %}
                    <p class="h4 text-center mb-4">Checked: {{ task.realization_time|date:"d M Y, H:i" }}</p>
                {% endif %}

                <form method="post" class="text-center">
                    {% csrf_token %}

                    <div class="fieldWrapper">
                        {{ form.comment.errors }}
                        <label class="grey-text h5" for="{{ form.comment.id_for_label }}">{{ form.comment.label_tag }}</label>
                        <div class="container bm-2">
                            {{ form.comment }}
                        </div>
                    </div>

                    <div class="fieldWrapper">
                        {{ form.deadline_time.errors }}
                        <label class="grey-text h5" title="{{form.deadline_time.help_text }}" for="{{ form.deadline_time.id_for_label }}">{{ form.deadline_time.label_tag }}</label>
                        <div class="container bm-2">
                            {{ form.deadline_time }}
                        </div>
                    </div>
                    <div class="fieldWrapper">
                        {{ form.priority.errors }}
                        <label class="grey-text h5" for="{{ form.priority.id_for_label }}">{{ form.priority.label_tag }}</label>
                        <div class="container bm-2">
                            {% for value, text in form.priority.field.choices %}
                            {% if value == task.priority %}
                                <input type="radio" name="priority" id="priority_{{ forloop.counter }}" checked="checked" value="{{ value }}"></input>
                            {% else %}
                                <input type="radio" name="priority" id="priority_{{ forloop.counter }}" value="{{ value }}"></input>
                            {% endif %}
                            <label for="priority_{{ forloop.counter }}">{{ text }}</label>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="fieldWrapper">
                        {{ form.status.errors }}
                        <label class="grey-text h5" for="{{ form.status.id_for_label }}">{{ form.status.label_tag }}</label>
                        <div class="container bm-2">
                            {% for value, text in form.status.field.choices %}
                            {% if value == task.status %}
                                <input type="radio" name="status" id="status_{{ forloop.counter }}" checked="checked" value="{{ value }}"></input>
                            {% else %}
                                <input type="radio" name="status" id="status_{{ forloop.counter }}" value="{{ value }}"></input>
                            {% endif %}
                            <label for="status_{{ forloop.counter }}">{{ text }}</label>
                            {% endfor %}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-unique">Change
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block errors %}
    {% include 'tc_web/error.html' with errors=errors %}
{% endblock %}
