{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-lg-7 col-md-9 col-sm-12">
        <div class="card">
            <div class="card-body">
                <!-- Tasks hat -->
                <p class="h4 card-title mb-4 ml-4">{{ task.title }} <span class="grey-text">id{{ task.tid }}</span></p>
                <hr>
                <!-- Tasks hat -->

                <!-- Project part -->
                {% if task.pid %}
                    <p class="h5 card-title mb-3 ml-4">This is the project task:</p>
                    <div class="row ml-4">
                        <div class="col-sm-6">
                            <div class="mycontent-left border-right border-light">
                                <div class="row">
                                    <div class="col-sm-5 mb-3">
                                        <p class="h5 mt-1">Project:</p>
                                    </div>
                                    <div class="col-sm-7 mb-3">
                                        <p class="h5"><a href="{% url 'tc_web:project' task.pid %}" style="min-width: 100px;" class="badge hoverable badge-pill purple-gradient">{{ task.project_name|truncatechars:14 }}</a></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="card-text">You may click on badges for bonus info</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mycontent-right">
                                <div class="row">
                                    <div class="col-sm-5 mb-2">
                                        <p class="h5 mt-1">Creator:</p>
                                    </div>
                                    <div class="col-sm-7 mb-2">
                                        <p class="h5"><a href="{% url 'tc_web:profile' user_id=task.creator_uid %}" style="min-width: 100px;" class="badge hoverable badge-pill aqua-gradient">{{ task.creator_name|truncatechars:14 }}</a></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <p class="h5 mt-1">Executor:</p>
                                    </div>
                                    <div class="col-sm-7">
                                        <p class="h5"><a href="{% url 'tc_web:profile' user_id=task.uid %}" style="min-width: 100px;" class="badge hoverable badge-pill peach-gradient">{{ task.receiver_name|truncatechars:14 }}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endif %}
                <!-- Project part -->

                <!-- Time checking -->
                <div class="row ml-4">
                    <div class="col-sm-6">
                        <p class="h5 mb-1">Creation time: </p>
                    </div>

                    <div class="col-sm-6">
                        <p class="h6 mb-1 grey-text">{{ task.creation_time|date:"d M Y, H:i" }} </p>
                    </div>
                </div>

                {% if task.period %}
                    <p class="h5 mb-1">Period: {{ task.period }} day{{ task.period|pluralize }}</p>
                {% endif %}
                <hr>
                <!-- Time checking -->

                <!-- Level dependency -->
                {% if task.parent or task.childs %}
                    <div class="row ml-4">
                        <div class="col-sm-6">
                            <div class="mycontent-left border-right border-light">
                                {% if task.parent %}
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="h5 mb-1 mt-1">Parent task:</p>
                                        </div>

                                        <div class="col-sm-6">
                                            <p class="h5"><a href="{% url 'tc_web:show_task' task.parent %}" style="min-width: 100px;" class="badge hoverable badge-pill blue-gradient"> {{ task.parent_task.title }}</a></p>
                                        </div>
                                    </div>

                                {% else %}
                                    <p class="h6 mb-1 mt-1 grey-text">Task have no parent</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mycontent-right">
                                {% if task.childs %}
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <p class="h5 mb-1 mt-1">Childs: </p>
                                        </div>

                                        <div class="col-sm-7">
                                            <a style="width: 100px" class="badge hoverable badge-pill blue-gradient dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            </a>
                                            <ul class="dropdown-menu" style="overflow-y: scroll; overflow-x: hidden; max-height: 400px; width: 300px">
                                                {% for child_task in task.childs %}
                                                    {% include "tc_web/tasks/tree_view_template.html" with node=child_task %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                {% else %}
                                    <p class="h6 mb-1 mt-1 grey-text">Task have no childs</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endif %}
                <!-- Level dependency -->

                {% if task.period %}
                    <p class="h4 text-center mb-4">Period: {{ task.period }} day{{ task.period|pluralize }}</p>
                {% endif %}
                {% if task.realization_time %}
                    <p class="h4 text-center mb-4">Checked: {{ task.realization_time|date:"d M Y, H:i" }}</p>
                {% endif %}

                <form method="post" class="text-center">
                    {% csrf_token %}

                    <div class="fieldWrapper">
                        {{ form.comment.errors }}
                        <label class="grey-text h5" for="{{ form.comment.id_for_label }}">{{ form.comment.label_tag }}</label>
                        <div class="container bm-2">
                            {{ form.comment }}
                        </div>
                    </div>

                    <div class="fieldWrapper">
                        {{ form.deadline_time.errors }}
                        <label class="grey-text h5" title="{{form.deadline_time.help_text }}" for="{{ form.deadline_time.id_for_label }}">{{ form.deadline_time.label_tag }}</label>
                        <div class="container bm-2">
                            {{ form.deadline_time }}
                        </div>
                    </div>
                    <div class="fieldWrapper">
                        {{ form.priority.errors }}
                        <label class="grey-text h5" for="{{ form.priority.id_for_label }}">{{ form.priority.label_tag }}</label>
                        <div class="container bm-2">
                            {% for value, text in form.priority.field.choices %}
                            {% if value == task.priority %}
                                <input type="radio" name="priority" id="priority_{{ forloop.counter }}" checked="checked" value="{{ value }}"></input>
                            {% else %}
                                <input type="radio" name="priority" id="priority_{{ forloop.counter }}" value="{{ value }}"></input>
                            {% endif %}
                            <label for="priority_{{ forloop.counter }}">{{ text }}</label>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="fieldWrapper">
                        {{ form.status.errors }}
                        <label class="grey-text h5" for="{{ form.status.id_for_label }}">{{ form.status.label_tag }}</label>
                        <div class="container bm-2">
                            {% for value, text in form.status.field.choices %}
                            {% if value == task.status %}
                                <input type="radio" name="status" id="status_{{ forloop.counter }}" checked="checked" value="{{ value }}"></input>
                            {% else %}
                                <input type="radio" name="status" id="status_{{ forloop.counter }}" value="{{ value }}"></input>
                            {% endif %}
                            <label for="status_{{ forloop.counter }}">{{ text }}</label>
                            {% endfor %}
                        </div>
                    </div>

                    <hr>
                    <div class="row justify-content-sm-center mt-2 mr-3">
                        <div class="col-sm-5">
                            <div class="text-center">
                                <a class="btn btn-unique" style="width: 60%" onClick="javascript:history.go(-1);">Back</a>
                            </div>
                        </div>
                    {% if task.has_rights %}
                        <div class="col-sm-5">
                            <p class="text-center"><button type="submit" class="btn btn-unique">Commit</button></p>
                        </div>
                    {% endif %}
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block errors %}
    {% include 'tc_web/error.html' with errors=errors %}
{% endblock %}
