{% extends 'base.html' %}
{% block content %}
{% if project %}
<div class="row">
    <div class="col-md-12 mb-2">
     <div class="card">
     <!--Card content-->
     <div class="card-body">
         <h4 class="card-title text-center">{{ project.title }}</h4>
         <p class="card-text">{{ project.description|default:'No description provided' }}</p>
     </div>
     </div>
    </div>
 </div>
{% endif %}
{% if tasks_list %}
<div class="row">
    {% for task in tasks_list %}
        {% include 'tc_web/tasks/task_card.html' with task=task %}
    {% endfor %}
</div>
</ul>
{% else %}
 <div class="card">
     {% if project %}
     <!--Card content-->
     <div class="card-body">
         <h4 class="card-title text-center">No tasks available</h4>
     </div>
     {% endif %}
 </div>
{% endif %}
<!--Grid column-->
{% endblock %}

{% block add_buttons %}
{% if project %}
<div class="fixed-action-btn" style="bottom: 45px; right: 24px; z-index: 10000">
    <a class="btn-floating btn-lg red" href="{% url 'tc_web:add_project_task' project.pid %}">
        <i class="fa fa-plus"></i>
    </a>
</div>
{% endif %}
{% endblock %}

{% include 'tc_web/error.html' with errors=errors %}

{% block navbar %}
    {% include 'tc_web/tasks/query_bar.html' %}
{% endblock %}