{% extends 'base.html' %}
{% block content %}
{% if project %}
<div class="row">
    <div class="col-md-12 mb-2">
     <div class="card">
     <!--Card content-->
     <div class="card-body">
         <h4 class="card-title text-center">{{ project.title }}<a href="{% url 'tc_web:profile' project.admin_uid %}" class="grey-text">@Admin: {{ project.admin.username }}</a></h4>
         <p class="card-text">{{ project.description|default:'No description provided' }}</p>
     </div>
     </div>
    </div>
 </div>
{% endif %}
{% if tasks_list %}
<div class="row">
    {% for task in tasks_list %}
        {% include 'tc_web/tasks/task_card.html' with task=task %}
    {% endfor %}
</div>
</ul>
{% else %}
 <div class="card">
     {% if project %}
     <!--Card content-->
     <div class="card-body">
         <h4 class="card-title text-center">No tasks available</h4>
     </div>
     {% endif %}
 </div>
{% endif %}
<!--Grid column-->
{% endblock %}

{% block add_buttons %}
{% if project %}
<div class="fixed-action-btn" style="bottom: 45px; right: 24px; z-index: 10000">
    <a class="btn-floating btn-lg red" href="{% url 'tc_web:add_project_task' project.pid %}">
        <i class="fa fa-plus"></i>
    </a>
</div>
{% endif %}

{% block sidebar %}
<!-- Sidebar -->
<div class="sidebar-fixed position-fixed">

    <a class="logo-wrapper waves-effect">
        <img src="https://mdbootstrap.com/img/logo/mdb-email.png" class="img-fluid" alt="">
    </a>

    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item active waves-effect">
            <i class="fa fa-pie-chart mr-3"></i>Dashboard
        </a>
        <a href="#" class="list-group-item list-group-item-action waves-effect">
            <i class="fa fa-user mr-3"></i>Profile</a>
        <a href="#" class="list-group-item list-group-item-action waves-effect">
            <i class="fa fa-table mr-3"></i>Tables</a>
        <a href="#" class="list-group-item list-group-item-action waves-effect">
            <i class="fa fa-map mr-3"></i>Maps</a>
        <a href="#" class="list-group-item list-group-item-action waves-effect">
            <i class="fa fa-money mr-3"></i>Orders</a>
    </div>

</div>
<!-- Sidebar -->
{% endblock %}

{% endblock %}

{% block errors %}
    {% include 'tc_web/error.html' with errors=errors %}
{% endblock %}

{% block navbar %}
    {% include 'tc_web/tasks/query_bar.html' %}
{% endblock %}