
    <!--Grid column-->
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">

        <!--Card-->
        <div class="card">
            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <div class="row" style="margin-bottom: -20px">
                    <div class="col-sm-9">
                <p class="card-title h4">{{ task.title|truncatechars:15 }}<span class="grey-text h6">@{{ task.tid }}</span>
                    {% if task.parent %}
                    <a href="{% url 'tc_web:change_task' task.parent %}" class="grey-text h6">Parent</a>
                    {% endif %}
                </p>
                    <form id="del" method="post">
                    {% csrf_token %}
                    </div>
                        <div class="col-sm-3"><button value={{ task.tid }} type="submit" name='delete' onclick="document.getElementById('del').submit();"
                                class="btn btn-red btn-sm" style="margin-top: -3px"><i
                                class="fa fa-times"></i></button></div>

                    </div>
                    </form>
                <hr>
                <!--Text-->
                <div class="row">
                    <div class="col-sm-9">
                        <p class="card-text">{{ task.comment|default:"No comments provided"|truncatechars:38 }}</p>
                    </div>
                    {% if task.status == 3 %}
                        <div class="col-sm-3 text-center"><i class="fa fa-check pr-1"></i></div>
                    {% elif task.status == 0 %}
                        <div class="col-sm-3">
                            <form id="check" method="post">
                                {% csrf_token %}
                                <button value={{ task.tid }} type="submit" name='check' onclick="document.getElementById('check').submit();"
                                    class="btn btn-grey btn-sm" style="margin-top: -100px; margin-bottom: -100px"><i
                                    class="fa fa-check"></i></button>
                            </form>
                        </div>
                    {% elif task.status == 1 %}
                        <div class="col-sm-3">
                            <a
                                class="btn btn-black btn-sm" disabled="disabled" style="margin-top: -100px; margin-bottom: -100px"><i
                                class="fa fa-check"></i></a>
                        </div>
                    {% else %}
                        <div class="col-sm-3">
                            <form method="post" id="check">
                                {% csrf_token %}
                                <button value={{ task.tid }} type="submit" name='check' onclick="document.getElementById('check').submit();"
                                    class="btn btn-red btn-sm" style="margin-top: -100px; margin-bottom: -100px"><i
                                    class="fa fa-check"></i></button>
                            </form>
                        </div>
                    {% endif %}
                </div>
                {% if task.pid %}
                    <div class="row">
                        <div class="col-sm-6 mt-2">
                            <a href="{% url 'tc_web:project' project_id=task.pid %}" class="btn btn-sm btn-red" style="margin-bottom: -10px; width: 110%">Proj:{{ task.project_name|truncatechars:20 }}</a>
                        </div>
                        <div class="col-sm-6 mt-2">
                            <a href="{% url 'tc_web:profile' user_id=task.uid %}" class="btn btn-sm btn-unique" style=" margin-bottom: -10px; width: 100%">Exec:{{ task.receiver_name|truncatechars:20 }}</a>
                        </div>
                    </div>
                {% else %}
                <div class="row">
                    <div class="col-sm-12 mt-2">
                        <a class="btn btn-sm btn-red" href="{% url 'tc_web:profile' user_id=user.id  %}" style="width: 95%; margin-bottom: -10px">Personal task</a>
                    </div>
                </div>
                {% endif %}
            </div>
            <!-- Card footer -->
            <div class="rounded-bottom mdb-color darken-1 text-center pt-3">
                <ul class="list-unstyled list-inline font-small">
                    <li class="list-inline-item pr-2">
                        {% if task.deadline %}
                        <a class="white-text"><i class="fa fa-clock-o pr-1"></i>{{task.deadline|date:"d M, H:i"}}</a>
                        {% else %}
                        <a class="white-text"><i class="fa fa-clock-o pr-1"></i>No deadline</a>
                        {% endif %}
                    </li>
                    {% if task.pid %}
                    <li class="list-inline-item pr-2"><a href="{% url 'tc_web:add_child_project_task' project_id=task.pid task_id=task.tid  %}" class="white-text"><i class="fa fa-deviantart pr-1"> </i>add child</a></li>
                    {% else %}
                    <li class="list-inline-item pr-2"><a href="{% url 'tc_web:add_child_task' task_id=task.tid  %}" class="white-text"><i class="fa fa-deviantart pr-1"> </i>add child</a></li>
                    {% endif %}
                    <li class="list-inline-item pr-2"><a href="{% url 'tc_web:change_task' task_id=task.tid  %}" class="white-text"><i class="fa fa-arrow-right pr-1"></i>show</a></li>
                </ul>
            </div>
        </div>
        <!--/.Card-->

    </div>
