{% extends 'base.html' %}
{% block content %}
{% if tasks_list %}
<div class="row">
    {% for task in tasks_list %}
        {% include 'tc_web/tasks/task_card.html' with task=task %}
    {% endfor %}
</div>
{% else %}
 <div class="card">

     <!--Card content-->
     <div class="card-body">
         <h4 class="card-title text-center">No tasks available</h4>
     </div>
 </div>
{% endif %}
<!--Grid column-->
{% endblock %}

{% block add_buttons %}
<div class="fixed-action-btn" style="bottom: 45px; right: 24px; z-index: 10000">
    <a class="btn-floating btn-lg red" href="{% url 'tc_web:add_task' %}">
        <i class="fa fa-plus"></i>
    </a>
</div>
{% endblock %}

{% include 'tc_web/error.html' with errors=errors %}
