{% extends 'base.html' %}
{% block content %}
{% if projects_list %}
<div class="row">
{% for project in projects_list %}
    {% include 'tc_web/projects/project_card.html' with project=project %}
{% endfor %}
</div>
{% else %}
 <div class="card">

     <!--Card content-->
     <div class="card-body">
         <h3 class="card-title text-center">No projects available</h3>
     </div>
 </div>
{% endif %}
<!--Grid column-->
{% endblock %}

{% block add_buttons %}
<div class="fixed-action-btn" style="margin-left: 2%; bottom: 45px; right: 24px; z-index: 1000">
    <a class="btn-floating btn-large btn-success" href="{% url 'tc_web:add_project' %}">
        <i class="fa fa-plus"></i>
    </a>
</div>
{% endblock %}

{% block links %}
    <ul class="nav">
        {% if user.is_authenticated %}
        <li><a href="{% url 'tc_web:tasks' %}">Tasks</a></li>
        <li class="active"><a href="{% url 'tc_web:projects' %}">Projects</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block errors %}
    {% include 'tc_web/error.html' with errors=errors %}
{% endblock %}
