{% extends 'base.html' %}
{% block content %}
{% if projects_list %}
<div class="row">
{% for project in projects_list %}

<!--Grid column-->
<div class="col-lg-4 col-md-6 mb-4">

    <!--Card-->
    <div class="card">

        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">{{ project.title }}<span class="grey-text">@{{ project.pid }}</span></h4>
            <!--Text-->
            <p class="card-text">{{ project.description }}</p>
            <!--TODO: REAL url-->
            <a href="{% url 'polls:detail' project.pid %}"
               class="btn btn-indigo">Click!</a>
        </div>

    </div>
    <!--/.Card-->

</div>
{% endfor %}
</div>
</ul>
{% else %}
 <div class="card">

     <!--Card content-->
     <div class="card-body">
         <div class="card-title text-center">No projects available</div>
     </div>
 </div>
{% endif %}
<!--Grid column-->
{% endblock %}

{% block add_buttons %}
<div class="fixed-action-btn" style="bottom: 45px; right: 24px; z-index: 10000">
    <a class="btn-floating btn-lg red" href="{% url 'polls:add_project' %}">
        <i class="fa fa-plus"></i>
    </a>
</div>
{% endblock %}