{% extends 'base.html' %}
{% block content %}
{% if project %}
<div class="row">
    <div class="col-md-12">
     <div class="card">
     <!--Card content-->
     <div class="card-body">
         <div class="card-title text-center">{{ project.title }}</div>
     </div>
         <div class="card-text">{{ project.description }}</div>
     </div>
    </div>
 </div>
{% endif %}
{% if tasks_list %}
<div class="row">
    {% for task in tasks_list %}
        {% include 'polls/task.html' with task=task %}
    {% endfor %}
</div>
</ul>
{% else %}
 <div class="card">

     <!--Card content-->
     <div class="card-body">
         <div class="card-title text-center">No tasks available</div>
     </div>
 </div>
{% endif %}
<!--Grid column-->
{% endblock %}

{% block add_buttons %}
<div class="fixed-action-btn" style="bottom: 45px; right: 24px; z-index: 10000">
    <a class="btn-floating btn-lg red" href="{% url 'polls:add_task' %}">
        <i class="fa fa-plus"></i>
    </a>
</div>
{% endblock %}

{% block errors %}
{% if not project %}
<div class="row">
    <div class="col-md-12">
     <div class="card">
     <!--Card content-->
     <div class="card-body">
         <div class="card-title text-center red-text">You don't have rights for this project</div>
     </div>
     </div>
    </div>
 </div>
{% endif %}
{% endblock %}