{% extends 'base.html' %}
{% block content %}
{% if projects_list %}
<div class="row">
{% for project in projects_list %}

<!--Grid column-->
<div class="col-lg-4 col-md-6 mb-4">

    <!--Card-->
    <div class="card">

        <!--Card image-->
        <div class="view overlay">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(72).jpg"
                 class="card-img-top" alt="">
            <a href="#">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">{{ project.title }}<span class="grey-text">@{{ project.pid }}</span></h4>
            <!--Text-->
            <p class="card-text">{{ project.description }}</p>
            <!--TODO: REAL url-->
            <a href="{% url 'polls:detail' project.pid %}"
               class="btn btn-indigo">Click!</a>
        </div>

    </div>
    <!--/.Card-->

</div>
{% endfor %}
</div>
</ul>
{% else %}
<p>No projects are available.</p>
{% endif %}
<!--Grid column-->
{% endblock %}